.main-navbar {
    display: flex;
    justify-content: center;
    
}

div .logo-name {
    font-size: 10px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

ul.navbar-nav {
 flex: 1;
 justify-self: center;
}

.main-navbar .social-links {
    display: flex;
    gap:10px;
    align-items: flex-end;
    flex: 0 0 auto;
    width: 125px;
}

.banner-inicio {
    position: relative;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 980px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.text-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-banner {
    color: white;
    font-weight: 800;
    font-size: 72px;
    width: 820px;
    height: 270px;
}

.frase-banner {
    position: absolute;
    color: white;
    font-size: 24px;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-inicio:hover  img.banner-image{
    transform: scale(1.2);
    transition: .5s ease-in-out;
}

.footer{
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.footer .join-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer .join-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.footer .join-text {
    font-size: 24px;
}

.footer .join-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

a.footer-btn-unete,
a.footer-btn-taller,
a.footer-btn-apoya {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

a.footer-btn-unete {
    background-color: #ffd45a;
}

a.footer-btn-taller {
    background-color: #008afc;
}

a.footer-btn-apoya {
    background-color: #07cca6;
}



